<h2>Translation file '<%= h(@file.filename_with_path) %>'</h2>

<%= render :partial => 'file_content/list_file_contents', :locals => { :list => @file.file_contents } %>

<% form_for :file_content, @file, :url => {:controller => :file_content, :action => :create, :translation_file_id => @file.id}, :html => { :multipart => true } do |f| %>
  <p>
    <%= f.file_field :content %>
  </p>
  <p><%= f.submit t('.submit') %></p>
<% end %>
