<% content_for :title, "List of translation files" %>


<%
category_list = [
    ['extragear-games', 'sidebar-item-1 sidebar-selected'],
    ['extragear-multimedia', 'sidebar-item-1'],
    ['kdebase', 'sidebar-item-2'],
    ['kdelibs', 'sidebar-item-2'],
    ['playground-pim', 'sidebar-item-3'],
]
%>

<div class="h-sidebar">
  <% category_list.each do |category| %>
    <a href="#">
      <div class="<%= category[1] %>">
        <%= category[0].sub(/^extragear-/, 'exgr-').sub(/^playground-/, 'plgr-') %>
      </div>
    </a>
  <% end %>
</div>

<div class="central-thing">
  <table border=1>
  <% @files.each do |file| %>
    <% content_tag :tr, :class => "ajax_lock_div", :id => 'a' + file.id.to_s do -%>
      <%= render :partial => 'div_po_locking', :locals => { :file => file } %>
    <% end -%>
  <% end %>
  </table>
</div>

