<% content_for :title, "List of translation files" %>


<% cache 'po-dirs-sidebar' do %>
<div class="h-sidebar">
  <% @category_list.each do |category| %>
    <% link_to :id => category[0] do %>
      <div class="<%= category[1] %>">
        <%= category[0].sub(/^extragear-/, 'exgr-').sub(/^playground-/, 'plgr-') %>
      </div>
    <% end %>
  <% end %>
</div>
<% end %>

<div class="list-left-line"></div>

<% if @files and not @files.empty? %>
<div class="central-thing">
  <table border=1>
  <% @files.each do |file| %>
    <% content_tag :tr, :class => "ajax_lock_div", :id => 'a' + file.id.to_s do -%>
      <%= render :partial => 'div_po_locking', :locals => { :file => file } %>
    <% end -%>
  <% end %>
  </table>
</div>
<% end %>
