<% if @msgs %>

<table border="1" width="99%">
  <% @msgs.each do |msg| %>
    <tr>
      <td><%= h(msg[:msgid]) %></td>
      <td><%= h(msg[:msgstr0].to_s) %></td>
      <td><%= h(msg[:filename]) %></td>
      <td><%= h(msg[:index].to_s) %></td>
    </tr>
  <% end %>
</table>

<% else -%>
  No results
<% end -%>
