<table border="1" width="1200">
  <% @msgs.each do |msg| %>
    <tr>
      <td><%= h(msg[:msgid]) %></td>
      <td><%= h(msg[:msgstr0].to_s) %></td>
      <td><%= h(msg[:id_f]) %></td>
      <td><%= h(msg[:id_i].to_s) %></td>
    </tr>
  <% end %>
</table>
