<% content_for :head do %>
  <script type="text/javascript">
    function updateResults()
    {
      requested = $("input#search_string").val();
      $.get('/posearch/auto_complete_request', { 'text': $("input#search_string").val() }, function(data){
	  if (requested == $("input#search_string").val()) // check if the results are still relevant
	  {
	    $("div#search_string_auto_complete").html(data);
	  }
	});
    }
  </script>
<% end %>


<p>
  <%= text_field :search, :string, :onkeyup => "updateResults();", :onclick => "updateResults();" %>
  <div class="auto_complete" id="search_string_auto_complete"></div>
</p>
