<% content_for :head do %>
  <%= javascript_include_tag :defaults %>
<% end %>


<%= text_field :search, :string %>
<div class="auto_complete" id="search_string_auto_complete"></div>

<script type="text/javascript">
  new Ajax.Autocompleter(
    'search_string',
    'search_string_auto_complete',
    'auto_complete_request',
    {afterUpdateElement: function(){}});
</script>
