<td><%= h(file.filename_with_path) %></td>

<td>
    <%=
      if file.can_lock?(current_user) or file.can_unlock?(current_user)
	link_to file.can_lock?(current_user) ? 'Lock' : 'Unlock', '#',
	  :id => 'a' + file.id.to_s, :class => 'ajax_lock'
      else
	h("Locked by " + User.find(file.user_locked).login)
      end
    %>
</td>

<td>
  <%=
    owner = User.find_by_id_or_nil(file.user_locked)
    h(owner.login) if owner
  %>
</td>

<td>
  <%=
    link_to 'Upload', '#',
      :id => 'a' + file.id.to_s, :class => 'js_upload'
  %>
</td>
