<% form_tag('', :multipart => true) do %>
  <div><%= file_field_tag 'file' %></div>
  <div><%= button_to_function 'Upload', "alert('456'); return onUploadSubmit($(this).attr('id'))" %></div>
<% end %>
