<% form_tag('', :multipart => true, :class => 'uploadForm') do %>
  <div><%= file_field_tag 'file' %></div>
  <div><%= button_to_function 'Upload', "return onUploadSubmit()" %></div>
  <div><%= button_to_function 'Cancel', "return onUploadCancel()" %></div>
<% end %>
