<% content_for :title, "List of translation files" %>

<% content_for :head do %>
  <script type="text/javascript">
    $(document).ready(function(){

      $("a.ajax_lock").click(function(){
	clicked_link_id = $(this).attr('id');
	$.post('ajax_lock_pofile/' + clicked_link_id.substr(1), function(data){
	  $("tr.ajax_lock_div#" + clicked_link_id).html(data);
	}, {}, {}, 'html');
      });

    });
  </script>
<% end %>

<table border=1>
<% @files.each do |file| %>
  <% content_tag :tr, :class => "ajax_lock_div", :id => 'a' + file.id.to_s do -%>
    <%= render :partial => 'div_po_locking', :locals => { :file => file } %>
  <% end -%>
<% end %>
</table>
