<% content_for :title, "List of translation files" %>

<% content_for :head do %>
  <script type="text/javascript">
    $(document).ready(function(){

      //Code for example A
      $("a").click(function(){
	$.post('ajax_lock_pofile', function(xml){
	  $("a.ajax_lock").append($(xml).find('login'));
	});
      });

    });
  </script>
<% end %>

<table>
<% @files.each do |file| %>
  <tr>
    <td><%= h(file.filename_with_path) %></td>
    <td>
      <div>
	<%=
	  if file.can_lock?(current_user) or file.can_unlock?(current_user)
	    link_to file.can_lock?(current_user) ? 'Lock' : 'Unlock', '#',
	      :id => '123', :class => 'ajax_lock'
	  else
	    h("Locked by " + User.find(file.user_locked).login)
	  end
	%>
      </div>
    </td>
    <td><%= h(User.find(file.user_locked).login) %></td>
  </tr>
<% end %>
</table>
