<% content_for :title, "List of translation files" %>

<% content_for :head do %>
  <script type="text/javascript">
    $(document).ready(function(){


//      $("table").delegate("a", "click", function(){
      $("a.ajax_lock").live("click", function(){ // people say that "live" fails on some browsers
	clicked_link_id = $(this).attr('id');
	$.post('ajax_lock_pofile/' + clicked_link_id.substr(1), function(data){
	  $("tr.ajax_lock_div#" + clicked_link_id).html(data);
	}, {}, {}, 'html');
      });

//      $("a.ajax_lock").click(function(){
//	clicked_link_id = $(this).attr('id');
//	$.post('ajax_lock_pofile/' + clicked_link_id.substr(1), function(data){
//	  $("tr.ajax_lock_div#" + clicked_link_id).html(data);
//	}, {}, {}, 'html');
//      });

      function uploadDialog(uploadButton, poId) {

	overlay=document.createElement('div');
	overlay.className='upload-overlay';

	viewport_width = window.innerWidth;
	viewport_height = window.innerHeight;

	overlay.style.width  = viewport_width + 'px';
	overlay.style.height = viewport_height + 'px';

	overlay.innerHTML='<%= escape_javascript(render(:partial => "upload_overlay")) %>';

	document.body.appendChild(overlay);
      }

      $("a.js_upload").live("click", function(){
// 	clicked_link_id = $(this).attr('id');

	uploadDialog(this, $(this).attr('id'));
      });

    });
  </script>

  <style type="text/css">
    .upload-overlay {
      position:fixed;
      top:0;
      left:0;
      background:#141414;
      opacity:0.8;
    }
  </style>
<% end %>

<table border=1>
<% @files.each do |file| %>
  <% content_tag :tr, :class => "ajax_lock_div", :id => 'a' + file.id.to_s do -%>
    <%= render :partial => 'div_po_locking', :locals => { :file => file } %>
  <% end -%>
<% end %>
</table>
