<% content_for :title, "List of translation files" %>

<% content_for :head do %>
  <script type="text/javascript">
    $(document).ready(function(){

      $("a.ajax_lock").click(function(){
	clicked_link_id = $(this).attr('id');
	$.post('ajax_lock_pofile', function(xml){
	  //$("a.ajax_lock").append($(xml).find('login'));
	  $("a.ajax_lock#"+clicked_link_id).append(clicked_link_id);
	});
      });

    });
  </script>
<% end %>

<table>
<% @files.each do |file| %>
  <tr>
    <td><%= h(file.filename_with_path) %></td>
    <div>
      <%= render :partial => 'div_po_locking', :locals => { :file => file } %>
    </div>
  </tr>
<% end %>
</table>
