<html>
  <head>
    <script type="text/javascript" src="/javascripts/jquery.js"></script>

    <script type="text/javascript">

    </script>
  </head>

  <body>
    <h1>Admin#test_jquery</h1>
  </body>
</html>

