<html>
  <head>
    <%= javascript_include_tag 'jquery', 'application' %>

    <script type="text/javascript">
      $(document).ready(function(){
        alert("hi");
      });
    </script>
  </head>

  <body>
    <h1>Admin#test_jquery</h1>
  </body>
</html>

