<% content_for :title, "hello" %>

<% content_for :head do %>
  <script type="text/javascript">
    $(document).ready(function(){
//      alert("hi");
    });
  </script>
<% end %>

<h1>Admin#test_jquery</h1>

