body {
  background-color: #ebffe6
}

div.flash_error {
  padding: 3px 5px;
  font-weight: bold;
  color: #f00;
  border-left: solid 5px #f66;
  border-top: solid 1px #f66;
  border-bottom: solid 1px #f66;
  border-right: solid 1px #f66;
}

div.flash_notice {
  padding: 3px 5px;
  font-weight: bold;
  color: #0c0;
  border-left: solid 5px #6f6;
  border-top: solid 1px #6f6;
  border-bottom: solid 1px #6f6;
  border-right: solid 1px #6f6;
}

div.h-sidebar a:link {
  text-decoration: none;
  color: white;
}

div.h-sidebar a:visited {
  text-decoration: none;
  color: white;
}

div.h-sidebar a:active {
  text-decoration: none;
  color: white;
}

div.h-sidebar {
  color: white;
  font-weight: bold;

  padding-top: 20px;
  position: absolute;
  margin: 0px 8px;
  width: 160px;
}

div.sidebar-item-1 {
  padding: 5px 5px;
  margin: 5px 0px;
  background-color: #8080ff;
}

div.sidebar-item-2 {
  padding: 5px 5px;
  margin: 5px 0px;
  background-color: #0b85ff;
}

div.sidebar-item-3 {
  padding: 5px 5px;
  margin: 5px 0px;
  background-color: #b3b35a;
}

div.sidebar-selected {
  width: 163px;
}

div.list-left-line {
  position: absolute;
  left: 173px;
  top: 45px;
  bottom: 5px;
  width: 11px;
  background-color: #b7d2b0;
  z-index: -1;
}

div.central-thing {
  padding-left: 185px;
}
