
<div id="header">
  <div id="user-links">
      <% if logged_in? -%>
	<li id="logout-link" class="user-item">
	  <%= link_to "Log out", logout_path, { :title => "Log out", :class => 'user-link' } %>
	</li>
	<li id="current-user-link" class="user-item">
	  <%= link_to_current_user :content_method => :login, :class => 'user-link' %>|
	</li>
      <% else -%>
	<li id="login-link" class="user-item">
	  <%= link_to "Log in",  login_path, { :title => "Log in", :class => 'user-link' } %>
	</li>
	<li id="signup-link" class="user-item">
	  <%= link_to "Sign up", signup_path, { :title => "Create an account", :class => 'user-link' } %>|
	</li>
      <% end -%>
    </ul>
  </div>
</div>
